<h1>User info</h1>
  <%= image_tag @user.get_profile_image(100,100) %>
  <h3>name <%= @user.name %></h3>
  <h3>introduction <%= @user.introduction %></h3>
    <%= link_to edit_user_path(@user) do %>
      <i class="fa-sharp fa-solid fa-user-pen"></i>
    <% end %>

<%= render 'books/new', book: @book %>

<h1>Users</h1>
  <table>
    <thead>
      <tr>
        <th>image</th>
        <th>name</th>
        <th></th>
      </tr>
    </thead>
     <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= user.name %></td>
          <td><%= link_to "Show",  "/users/#{user.id}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>