<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/32d1030ebd.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <div class="py-8 px-16 bg-dark text-white">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_path(current_user.id) do %><i class="fa-solid fa-house">Home</i><% end %>
        </li>
        <li class="nav-item">
          <%= link_to users_path do %><i class="fa-solid fa-user-group">Users</i><% end %>
        </li>
        <li class="nav-item">
          <%= link_to books_path do %><i class="fa-solid fa-book">Books</i><% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete do %><i class="fa-solid fa-person-walking">Log out</i><% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to root_path do %><i class="fa-solid fa-house">Home</i><% end %>
        </li>
        <li class="nav-item">
          <%= link_to about_path do %><i class="fa-solid fa-link">About</i><% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path do %><i class="fa-solid fa-user-plus">Sign up</i><% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path do %><i class="fa-solid fa-arrow-right-to-bracket">Log in</i><% end %>
        </li>
      <% end %>
      </div>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </main>

    <%= yield %>

    <footer>
      <p class="text-center">CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
