<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/32d1030ebd.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user.id) do %>
            <i class="fa-solid fa-house">Home</i>
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
            <i class="fad fa-user">Users</i>
          <% end %>
        </li>
        <li>
          <%= link_to books_path do %>
            <i class="fas fa-books">Books</i>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt">Log out</i>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to root_path do %>
            <i class="fa-solid fa-house">Home</i>
          <% end %>
        </li>
        <li>
          <%= link_to about_path do %>
            <i class="fas fa-link">About</i>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fas fa-user-plus">Sign up</i>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fas fa-sign-in-alt">Sign in</i>
          <% end %>
        </li>
      <% end %>
    </header>

    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </main>

    <%= yield %>

    <footer>
      <p>CopyRight Infratop.inc</p>
    </footer>
  </body>
</html>
